<!-- Copy when adding new project to portfolio -->
<div class="project">
    <!-- Image -->
    <div class="project__identity">
        <h3 class="project__name">PROJECT NAME HERE</h3>
        <img src="path/to/img.jpg" class="project__img" alt="Screenshot of ___PROJECT_NAME___">
    </div>

    <!-- Info -->
    <div class="project__info">
        <div class="project__toolbox">
            <!-- REPLACE ICONS -->
            <i class="fab fa-react tool-icon"></i>

            <img src="./assets/icons/firebase.svg" class="tool-icon" alt="Firebase Logo">

            <i class="fab fa-node-js tool-icon"></i>
        </div>

        <div class="project__summary scrollbar">
            <p>PROJECT OVERVIEW - Purpose & Tools used</p>

            <p>FEATURES - <strong>Features include:</strong> user authentication, shopping cart, checkout, payments with
                Stripe
                & data persistence.</p>

            <p>Other notes: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere doloremque, ab soluta
                commodi nesciunt officiis.</p>
        </div>

        <div class="project__links-container">
            <a class="project__link project__link--readme"
                href="https://github.com/Bilaal96/___GITHUB_PROJECT_NAME___/blob/master/README.md" target="_blank"
                rel="noreferrer">
                <i class="fas fa-info-circle"></i> More Details
            </a>
            <a class="project__link project__link--demo" href="link/to/live/project" target="_blank" rel="noreferrer">
                <i class="fas fa-external-link-square-alt"></i> Demo
            </a>
            <a class="project__link project__link--code" href="https://github.com/Bilaal96/___GITUB_PROJECT_NAME___"
                target="_blank" rel="noreferrer">
                <i class="fab fa-github"></i> Code
            </a>
        </div>
    </div>
</div>